#HOT {
  .opacity-low {
    opacity: .3;
  }
}

#infoBox {
  font-size: 12px;
  overflow-x: hidden;
  padding: 6px;

  .key {
    color: #63666c;
  }

  .value {
    font-weight: bold;
  }

  .form-group.material label {
    background: white; /*background page color*/
  }

  .cell-title {
    font-size: 20px;
    overflow: hidden;
    margin: 0 0 10px;
    padding-right: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .cell-coords {
    margin: 8px 0;

    .coord {
      margin-right: 6px;
    }
  }

  .step-name {
    line-height: 22px;
    position: relative;
    display: inline-block;
    width: 90%;
    max-width: 90%;
    height: 30px;
    margin: 20px 0 15px -8px;
    padding: 4px 15px 4px 8px;
    text-transform: uppercase;
    color: white;
    background-color: $secondary-color;

    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 100%;
      display: block;
      width: 0;
      height: 0;
      content: "";
      border-width: 15px 0 15px 15px;
      border-style: solid;
      border-color: transparent transparent transparent $secondary-color;
    }
  }

  .relationshipsTable {
    margin-bottom: 50px;

    th {
      text-align: center;
      vertical-align: middle;
      background: #d6d6d6;
    }

    td {
      font-size: 14px;
      max-width: calc((350px / 3) - 16px); //8+8 padding
      text-align: center;
      vertical-align: middle;

      border: 1px solid #ddd;
    }

    .td-content a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .col-name {
      font-size: 12px;
      font-style: italic;
      display: block;
    }
  }


  .literalMatch {
    padding: 0 20px;
    text-align: center;
    border-right: 1px solid #222d32;

    &:last-child {
      border-right: unset;
    }
  }
}

#data-preparation {
  & > div {
    margin-bottom: 20px;
  }
}

#column-analysis {
  .column-type {
    font-size: 15px;
  }

  .ne-col {
    margin-top: 20px;

    .heading {
      margin-bottom: 4px;
      padding: 2px 5px;
      background: #d6d6d6;
    }

    li {
      margin-bottom: 6px;
    }

    .indent {
      font-size: 85%;
      display: block;
      margin-left: 20px;
      color: #86898f;
    }

    .score {
      margin-top: 10px;
      padding: 10px 0;
      text-align: center;
      border-top: 1px solid #222d32;

      .value {
        font-size: 24px;
        display: block;
      }
    }
  }
}

#concept-annotation {

  .header {
    .synonyms {
      margin-bottom: 20px;
    }
  }

  .cell {

    .nav-tabs {
      li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:not(.active) {
          opacity: .7;
        }
      }

      a {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #222d32;
        border: none;
      }
    }

    .tab-content {
      padding: 2px 5px;
      background: #f9fafc;
    }

    .abstract {
      margin-bottom: 10px;
      padding: 6px 0;

      .read-more {
        font-size: 12px;
        display: none;
        width: 100%;
        margin-top: 5px;
        padding: 2px;
        color: #11181b;
        border-color: #11181b;
      }

      &.collapsed {

        .text {
          position: relative;
          overflow: hidden;
          max-height: 100px;

          &:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;

            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(249, 250, 252, 1) 95%);
          }
        }

        .read-more {
          display: block;
        }
      }
    }

    .candidate {
      display: table-row;

      .index {
        font-size: 16px;
        line-height: 1;
        display: table-cell;
        align-self: center;
        padding-right: 6px;
        vertical-align: middle;
        white-space: nowrap;

        i {
          font-size: 12px;
          vertical-align: middle;
        }
      }

      .resource {
        line-height: 1.2;
        display: table-cell;
        padding: 10px 0;
      }

      a {
        display: inline-block;
        overflow: hidden;
        max-width: 270px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

  }

}

#edit-annotations {

  table {
    tr.opacity-low {
      opacity: 0.3;
    }

    td {
      font-size: 12px;
      position: relative;
    }
  }

  .hiddenRow,
  .edit-panel {
    display: none;
  }

  .btn.edit {
    font-size: 20px;
    display: block;
    padding: 0;
    cursor: pointer;
    transition: all .2s;
    color: $secondary-color;

    &:not(.disabled):hover {
      color: scale-color($secondary-color, $lightness: 20%);
    }
  }

  .td-icon-edit {
    font-size: 12px;
    position: absolute;
    z-index: 1;
    bottom: -6px;
    left: 50%;
    display: none;
    padding: 0 6px 6px;
    cursor: pointer;
    transform: translate(-50%, 50%);
    background-color: white;
  }

  .edit-mode {
    .td-icon-edit {
      display: block;

      &.active {
        color: $skin-color;
      }
    }
  }

  td.edit-form {
    text-align: left;
  }

  .hints {
    margin-bottom: 20px;

    a.underline {
      text-decoration: underline;
      color: #5e5e5e;
    }

    .complementary {
      font-style: italic;
      margin-bottom: 6px;
      padding-left: 10px;
      color: #7f7f7f;

      span {
        margin-right: 10px;
      }

      .active {
        color: #11181b;
      }

      i {
        font-size: 9px;
        margin-right: 2px;
      }
    }
  }

  .hint {
    position: relative;
    display: inline-block;
    margin: 2px;
    padding: 2px 15px;
    transition: all .2s;
    border-radius: 2px;
    background: #e6e6e6;

    * {
      transition: all .2s;
    }

    a {
      display: inline-block;
    }

    .text-small {
      font-size: 95%;
    }

    .use-hint {
      font-size: 14px;
      line-height: 1;
      position: absolute;
      top: 50%;
      /*opacity:     0;*/
      right: 20px;
      cursor: pointer;
      transform: translateY(-50%);
      opacity: 0;
      color: #11181b;
    }

    &:hover {
      .slide {
        /*padding-right: 30px;*/
        transform: translateX(-10px);
      }

      .use-hint {
        right: 5px;
        display: inline-block;
        opacity: 1;
      }
    }
  }

  .autocomplete {
    font-size: 14px;
    position: absolute;
    z-index: 9;
    display: none;
    width: 100%;
    margin-top: 2px;
    border: 1px solid #6b6b6b;
    background-color: white;
    box-shadow: 1px 1px 6px 0 #6b6b6b;

    &, * {
      transition: unset;
    }

    li {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #eaeaea;
      }

      &.active {
        color: white;
        background-color: $skin-color;
      }

    }

    &.focus {
      display: block;
    }
  }

  input:focus ~ ul.autocomplete.isVisible {
    display: block;
  }
}

#edit-table-info{
  .delete-table {
    margin: 50px 0 30px;
  }
}

// override some  ADMIN LTE style
.control-sidebar-bg,
.control-sidebar {
  right: -350px !important;
  width: 350px !important;
}

.control-sidebar-light {
  background: #ffffff !important;

  + .control-sidebar-bg {
    background: #ffffff !important;
  }
}

.control-sidebar-open {
  .control-sidebar-bg,
  .control-sidebar {
    right: 0 !important;
  }

  .content-wrapper,
  .right-side,
  .main-footer {
    margin-right: 350px !important;
  }
}

.inner-control-sidebar {
  .control-sidebar {
    overflow: hidden;
    padding-top: 0;
  }

  &.control-sidebar-open {
    .content-wrapper {
      margin-right: 0 !important;
    }
  }
}

