$form-height: 56px;
$form-condensed-height: 35px;

$form-bg: #f6f6f6;
$form-color: #424242;
$form-label-color: #595959;
$form-disabled-color: #b5b5b5;

$form-v-space: 50px;

%form-base {
  // reset default styles
  box-shadow: unset;
  border: unset;
  outline: unset;
  color: $form-color;
  caret-color: $skin-color;
  cursor: pointer;
  width: 100%;
  z-index: 1;
  position: relative;
  font-weight: normal;
}

@mixin form-base($height:$form-height) {

  @extend %form-base;

  @if $height != 'unset' {
    height: $height;
    min-height: $form-height;
  }

  padding: 20px 16px 6px;
  background: $form-bg;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid $form-color;
  font-size: 16px;
}

@mixin form-base-outline($height:$form-height) {
  $condensed: $height <= $form-condensed-height;
  @extend %form-base;
  min-height: auto;

  @if $height != 'unset' {
    height: $height;
  }


  background: transparent;
  border-radius: 4px;
  border: 1px solid $form-color;
  @if $condensed {
    font-size: 16px;
    padding: 0 12px;
  } @else {
    font-size: 16px;
    padding: 12px 16px 12px;
  }

}

@mixin label($size: small) {
  color: $form-label-color;
  font-weight: normal;
  text-transform: initial;
  @if $size == 'small' {
    font-size: 12px;
  } @else if $size == medium {
    font-size: 14px;
  } @else {
    font-size: 16px;
  }
}

%label-rest {
  @include label('large');
  position: absolute;
  left: 16px;
  margin: 0;
  top: 16px;

  cursor: pointer;
}

%label-float {
  @include label('small');
  position: absolute;
  top: 4px;
  left: 16px;
  margin: 0;


}

%label-float-outline {
  @include label('small');
  position: absolute;
  top: -8px;
  left: 16px;
  padding: 0 2px;
  margin: 0;
  background: #ecf0f5; //match with bg;

}

%label-active {
  color: $skin-color;
}

%label-error {
  color: $danger;
}

%label-disabled {
  color: $form-disabled-color !important;
  cursor: default !important;

}

%form-active {
  border-bottom: 2px solid $skin-color;
}

%form-active-outline {
  border: 2px solid $skin-color;
}

%form-error {
  border-bottom: 2px solid $danger;
}

%form-disabled {
  border-bottom: 1px solid $form-disabled-color !important;
  cursor: default !important;
  color: $form-disabled-color !important;
}

.form-group.material {


  position: relative;
  margin-bottom: $form-v-space;

  label {
    z-index: 1;
    cursor: pointer;
    transition: all .2s;
  }

  .form-hint,
  .form-error-message {
    @include label($size: small);
    position: absolute;
    left: 16px;
    margin-top: 4px;
    text-align: left;
    top: 100%
  }

  .form-error-message {
    color: $danger;
    display: none;
  }

  &.input-text {
    input {
      @include form-base();
    }

    label {
      @extend %label-rest;

      &.label-float {
        @extend %label-float;
      }

      &.focus {
        @extend %label-active;
      }
    }

    input:focus {
      @extend %form-active;
    }

    &.error {
      input {
        @extend %form-error;
      }

      .label-float {
        @extend %label-error;
      }
    }

  }

  &.input-file {
    input {
      @include form-base($height: $form-height + 10px);
      padding-top: 30px;
      border-bottom: 0;
    }

    label {
      @extend %label-float;
    }

    &.error {

      label {
        @extend %label-error;
      }
    }


  }

  &.textarea {
    textarea {
      @include form-base($height: unset);
    }

    label {
      @extend %label-rest;

      &.label-float {
        @extend %label-float;
      }

      &.focus {
        @extend %label-active;
      }
    }

    textarea:focus {
      @extend %form-active;
    }

    &.error {
      textarea {
        @extend %form-error;
      }

      .label-float {
        @extend %label-error;
      }
    }
  }

  &.select {
    select {
      @include form-base();
      /*remove dropdown arrow*/
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-right: 30px;
      outline: unset;
    }

    select:focus {
      @extend %form-active;
    }

    /*add custom dropdown arrow*/
    &:after {
      content: '\f0d7';
      @extend %FontAwesome900;
      position: absolute;
      right: 15px;
      top: 16px;
      color: $form-color;
      font-size: 16px;
      z-index: 1;
    }

    label {
      @extend %label-rest;
      pointer-events: none;

      &.label-float {
        @extend %label-float;
      }

      &.focus {
        @extend %label-active;
      }
    }

    option {

      &.first {
        display: none;
      }

      &[disabled],
      &:disabled {
        color: $form-disabled-color;
      }
    }

    &.error {
      select {
        @extend %form-error;
      }

      .label-float {
        @extend %label-error;
      }
    }

    &.disabled {
      /* custom dropdown arrow*/
      &:after {

        color: $form-disabled-color;

      }
    }

  }

  &.input-radio,
  &.input-checkbox {
    margin-left: 12px;

    ul {
      list-style: none;
      padding-left: 4px;
      margin: 0;
    }

    .form-label {
      @include label($size: large);
      margin-bottom: 10px;
      padding: 0 4px;
    }

    input {
      display: none;
    }

    label {
      @include label($size: medium);
      position: relative;
      padding-left: 30px;
      margin-bottom: 8px;

      &.disabled {
        @extend %label-disabled;
        cursor: not-allowed !important;
      }
    }

    &.error {
      .form-label {
        @extend %label-error;
      }

      .form-error-message {
        left: 0;
      }
    }

    &.disabled {
      .form-label {
        @extend %label-disabled;
      }
    }

    &.horizontal {
      @include breakpoint(small) {
        ul {
          display: flex;
          justify-content: center;

          li {
            margin-right: 20px;
          }

          label {
            padding-left: 24px;
          }
        }

        .form-hint,
        .form-error-message {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  &.input-radio {
    label {

      &::before,
      &::after {
        content: "";
        border-radius: 50%;
        position: absolute;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        width: 16px;
        height: 16px;
        border: 2px solid $form-color;
      }

      &::after {
        width: 8px;
        height: 8px;
        background: $skin-color;
        transform: translate(50%, -50%);
        display: none;
      }
    }

    label.selected {
      &::before {
        border-color: $skin-color;
      }

      &::after {
        display: block;
      }
    }

    label.disabled {
      &::before {
        border-color: $form-disabled-color;
      }
    }

    &.error {
      label::before {
        border-color: $danger;
      }
    }

    &.disabled {
      label::before {
        border-color: $form-disabled-color;
      }

      label::after {
        background: $form-disabled-color;
      }
    }

  }

  &.input-checkbox {

    label {

      &::before {
        position: absolute;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
        @extend %FontAwesome900;
        content: "\f0c8";
        font-weight: 500;
        color: $form-color;
        font-size: 18px;
      }

    }

    label.selected {
      &::before {
        @extend %FontAwesome900;
        content: "\f14a";
        font-weight: 900;
        color: $skin-color;

      }
    }

    label.disabled {
      &::before {
        color: $form-disabled-color;
      }
    }

    &.error {
      label::before {
        color: $danger;
      }
    }

    &.disabled {
      label::before {
        color: $form-disabled-color;
      }
    }
  }

  &.trailing-icon {
    input {
      padding-right: 30px !important;

    }

    i {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      cursor: pointer;
      padding: 10px;
    }

    .clear {
      display: none;
    }
  }

  &.error {
    .form-hint {
      display: none;
    }

    .form-error-message {
      display: inline-block;
    }
  }

  &.disabled {
    input, select, textarea {
      @extend %form-disabled;
    }

    label {
      @extend %label-disabled;
    }

    .form-hint {
      @extend %label-disabled;
    }
  }

}

.form-group.material.outline,
.form-group.material.outline.condensed {
  input, textarea, select {
    @include form-base-outline();

    &:focus {
      @extend %form-active-outline;
    }
  }

  label {

    &.label-float {
      @extend %label-float-outline;
    }

    &.focus {
      @extend %label-active;
    }
  }
}

.form-group.material.outline.condensed {
  input, textarea, select {
    @include form-base-outline($form-condensed-height);
  }

  label {
    font-size: 14px;
    top: 8px;
    left: 12px;
  }

  label.label-float {
    left: 12px;
  }

  &.select {
    /*add custom dropdown arrow*/
    &:after {

      top: 6px;
    }

  }
}

.global.form-error-message {
  @include label($size: small);
  color: $danger;
  margin-top: 10px;
  display: none;
}


