.snackbar {
  border-radius: 4px;
  padding: 14px 16px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  background: #333;
  color: rgba(white, .87);
  font-size: 14px;
  position: fixed;
  left: 230px;
  bottom: 10px;
  transform: translateX(20px);
  transition: left 0.3s ease-in-out;
  z-index: 9;
  line-height: 1;
  display: none;
}

.sidebar-collapse .snackbar {
  left: 50px;
}

