%setHeight {
  height: calc(100vh - 50px);
  overflow-y: auto;
  //padding: 8px 0;
}

%active {
  color: $skin-color;
  font-weight: 500;
  opacity: 1;
}

%transition {
  transition: all .2s;
}

#upload-list,
#leaderboard {
  margin: -5px;
  display: flex;

  .no-data {
    text-align: center;
    margin: 50px auto;

    .main-text {
      font-size: 40px;
    }

    .btn {
      margin-top: 30px;
    }
  }

  .section-label {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    background: rgba($secondary-color, .1);
    box-shadow: 0 1px 4px 0 rgba($secondary-color, .4);
    margin-bottom: 20px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .gs-col {
    background: darken($light-gray, 10%);
    width: auto;
    flex: 0 0 auto;
    @extend %setHeight;

    .gs-settings {
      display: inline-block;
      margin-left: 10px;
      font-size: 14px;
      opacity: .8;

      i {
        padding: 0 2px;
        vertical-align: text-top;
      }
    }

    .gs-item {
      display: block;
      padding: 20px 25px;
    }

    .gs-item.link {
      @extend %transition;
      opacity: .5;
      color: $secondary-color;
      font-size: 18px;

      &:hover {
        color: $skin-color-darker;
        opacity: 1;
      }

      &.active {
        background: $light-gray;
        @extend %active;
        border-bottom: 1px solid rgba($skin-color, .3);

      }
    }
  }

  .tasks {
    background: gray;
    width: auto;
    //min-width: 250px;
    flex: 0 0 auto;
    background: $light-gray;
    padding: 10px 10px 10px 50px;

    .task-item {
      padding: 10px 0;
    }

    .task-item.link {

      @extend %transition;
      opacity: .4;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: $secondary-color;

      &:hover {
        color: $skin-color-darker;
        opacity: 1;
      }

      &.active {
        @extend %active;

      }
    }

  }

  .upload-col,
  .leaderboard-col {
    @extend %setHeight;
    flex: 1 1 0;
    padding: 20px;

    .section-label {
      background: transparent;
      box-shadow: unset;
      padding: 10px 20px;

      margin: -20px;
      position: absolute;
    }

    .highlight {
      td {
        background: rgba($skin-color, 0.2);
      }
    }


    .table-wrapper {
      margin-top: 50px;
    }

    .table {
      text-align: center;

      .position,
      .score {

        font-weight: bold;
      }

    }
  }
}

#leaderboard {
  .leaderboard-col {
    .table {

      .score {
        font-size: 140%;
      }

      .avatar {
        text-align: left;

        img {
          border-radius: 50%;
          width: 40px;
          margin-right: 10px;
        }
      }
    }
  }
}

#upload-list {

  .upload-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .lineChart-wrapper {
    height: 300px;
    min-height: 250px;
    margin-top: 50px;


    .message {
      background: rgba($light-gray, .5);
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 18px;
    }

    canvas {
      display: none;
    }
  }

  .table-wrapper {

    overflow: auto;
    min-height: 200px;


    .check {
      padding: 8px 2px;
    }

    .form-group.material {
      margin: 0;

      label {
        margin: 0;
        position: unset;

        &:before {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    td {
      transition: background-color .3s;
      padding: 4px 8px !important;
    }

    .score {
      font-size: 110%;
    }

    .actions {
      max-width: 250px;
      min-width: 200px;
    }


    .progress-bar {
      text-align: left;
      padding-left: 5px;
      font-size: 11px;
    }
  }
}

#uploading-page {

  .container-form {
    padding: 30px 0;

    form {
      max-width: 480px;
      margin: auto;
    }

    .btn {
      margin-top: 20px;
      margin-bottom: 6px;
      vertical-align: unset;
    }
  }

  .addSelectOption {

    margin-bottom: $form-v-space;

    @include breakpoint(medium) {
      display: flex;
    }

    .form-group,
    .add-new-item {
      margin: 0;
    }

    .form-group {
      width: 100%;
    }

    .add-new-item {
      font-size: 26px;
      cursor: pointer;
      color: $skin-color;
      display: flex;
      align-items: center;
      margin-left: 14px;
      margin-top: 14px;

      @include breakpoint(medium) {
        border-left: 1px solid rgba($light-gray, 0.4);
        margin-left: 20px;
        margin-top: 0;
        padding-left: 10px;
      }

      i {
        transition: all .2s;
        margin-right: 4px;
      }

      &.rotate {
        i {
          transform: rotate(45deg);
        }
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.4;
      }

      &:not(.disabled):hover {
        color: $skin-color-darker;
      }
    }
  }

  #gs-option {

    i.info {
      font-size: 120%;
      vertical-align: text-bottom;
      cursor: pointer;

      &:hover {
        color: $skin-color;
      }
    }

    .tooltip-inner {
      text-align: left;
    }

    @include breakpoint(small) {
      text-align: center;
    }

  }
}

#evaluation {
  .row.flex {
    flex-wrap: wrap;

  }

  .pieChart-wrapper {
    margin: auto;
    max-width: 350px;
    min-height: 200px;
  }

  .stackedBarChart-wrapper {
    min-height: 600px;
    @include breakpoint(small) {
      min-height: 500px;
    }
  }

  .box.score {

    .box-body {
      display: flex;
      justify-content: space-between;
      max-width: 600px;
      margin: auto;

      //@include breakpoint('small only') {
      //  flex-direction: column;
      //}
    }

    .score-wrapper {
      text-align: center;
      padding: 10px;

    }

    .score-label {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;


      @include breakpoint('medium') {
        font-size: 18px;
      }
    }

    .score-value {
      font-weight: 600;
      font-size: 20px;
      @include breakpoint('medium') {
        font-size: 22px;
      }


      @include breakpoint('large') {
        font-size: 30px;
      }
    }
  }

  #ctaChart {
    margin: 50px auto 80px;
    width: 90%;
    height: 8px;
    background: $light-gray;
    //background: linear-gradient(to right, red, green);
    position: relative;


    .zero {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 180%;
      width: 2px;
      background: $secondary-color;
      color: $secondary-color;

      i {
        position: absolute;
        bottom: 110%;
        transform: translateX(-50%);
      }

      .value {
        position: absolute;
        top: 110%;
        transform: translateX(-50%);
      }

    }

    .user-score {
      position: absolute;
      transform: translate(-50%, -70%);
      color: $skin-color;
      text-align: center;
      transition: all 1s ease-out;
      left: 2%;
      top: 0;
      z-index: 9;

      i {
        font-size: 28px;
        background: $light-gray;
        border-radius: 50%;
      }

      .value {
        font-size: 22px;
        font-weight: bold;
      }

    }


    .min,
    .max {
      i {
        position: absolute;
        font-size: 20px;
        top: 50%;
        transform: translateY(-50%);
      }

      .text {
        position: absolute;
        margin-top: 20px;
      }

      .value {
        font-size: 16px;
        font-weight: 500;
      }

      .description {
        font-size: 12px;

      }
    }

    .min {

      color: #E74C3C;

      i, .text {
        left: -25px;
      }

    }

    .max {
      color: #229954;

      i, .text {
        right: -25px;
      }

      .text {
        text-align: right;
      }

    }

  }


  .comparison {
    .box-tools {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    .form-group.material {
      margin: 0;
      min-width: 300px;

      label {
        background: white;
      }
    }


    .filter {


      &-wrapper {
        margin-right: 30px;

      }

      text-decoration: line-through;
      display: inline-flex;
      align-items: center;
      margin-left: 10px;
      font-size: 12px;
      cursor: pointer;

      &.active {
        text-decoration: none;

      }

      &:before {
        content: '';
        width: 30px;
        height: 15px;
        display: inline-block;
        margin-right: 5px;
      }

      &.wrong {
        &:before {
          background: #E74C3C;
        }
      }

      &.na {
        &:before {
          background: #95A5A6;
        }
      }
    }

    .loader {
      text-align: center;

      i {
        font-size: 26px;
        opacity: .7;
      }
    }

    .progressive-loading {
      .error-message {
        margin-bottom: 20px;
        color: $danger;
      }

    }

    .comparison-table-wrapper {

      .search-item {
        background: yellow;
      }

      table {
        tbody td {
          background: transparent;
        }

        td {
          //width: 100px;
          &.numeric {
            text-align: center;
          }

          &.ann {
            width: 40%;

            &.small-col {
              width: 32%;
            }
          }

          .item {
            padding: 4px 6px;
            margin-bottom: 3px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }


        color: $secondary-color;

        a {
          color: inherit;
        }

        .wrong {
          background: rgba(#E74C3C, .15);

          .ann.my {
            color: #E74C3C;

          }
        }

        .na,
        .missing {
          background: rgba(#95A5A6, .5);

          .ann.my {
            color: #95A5A6;
          }
        }

        .right {
          background: rgba(#229954, .2);
          color: #229954;


        }
      }
    }
  }
}

