{% extends "web/base.html" %}
{% load static %}

{% block container %}

    <div id="home">

        <div class="header">
            <div class="wrapper">
                <img src="{% static 'web/images/logo.png' %}" class="logo" alt="logo"/>
                <div>
                    <h1 class="title">
                        <span class="bold">MantisTable</span>SE
                    </h1>
                </div>
                <div class="subhead">Short tool description</div>
            </div>
        </div>

        <div class="features">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="preview">
                            <img src="{% static 'web/images/preview.png' %}"/>
                        </figure>
                    </div>
                    <div class="col-xs-12 ">
                        <div class="feature">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum diam, posuere in
                                malesuada non, pretium quis ipsum. Fusce a bibendum lectus. </p>

                            <p>Aenean imperdiet eu felis
                                interdum luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus.</p>
                            <div class="center">
                                <a class="btn" href="{% url 'home' %}">Start now CTA</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="unimib flex">

                            <div class="disco">
                                <a href="https://www.disco.unimib.it/it" target="_blank" title="Visit DISCo website">
                                    <img src="{% static 'web/images/disco.png' %}" alt="DISCo"/>
                                </a>
                            </div>

                            <div class="lab">
                                <a href="http://inside.disco.unimib.it/" target="_blank"
                                   title="Visit Insid&s LAB website">
                                    <span class="title">
                                        Insid&s<br/>
                                        LAB
                                    </span>
                                    <span class="text">
                                        Dipartimento di Informatica, Sistemistica e Comunicazione <br/>
                                        Università degli Studi di Milano-Bicocca <br/>
                                        Viale Sarca, 336 - 20126, Milano | tel. 02 6448 7801
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="bitbucket col-xs-12">
                        <a href="https://bitbucket.org/disco_unimib/mantistable-tool-v4" target="_blank" title="Visit Bitbucket">
                            <span class="logo-sm">
                                <img src="{% static 'web/images/bitbucket.png' %}" alt="bitbucket"/>
                            </span>
                            <span class="text">
                                Bitbucket
                            </span>
                        </a>
                    </div>

                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $('body').removeClass('sde-fixed');
    </script>
{% endblock %}

