{% extends "dashboard/base.html" %}

{% block container %}
    {% load static %}
    <div class="wrapper">

        <header class="main-header">
            <a href="{% url 'home' %}" class="logo">
                <span class="logo-mini"><b>M</b>T</span>
                <span class="logo-lg"><b>Mantis</b>Table</span>
            </a>

            <nav class="navbar navbar-static-top">
                <a href="{% url 'home' %}" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="panel-icon"> </span>
                </a>

                {% block table_info %}
                    {{ block.super }}

                    <!--
                    <ul class="tableInfo">
                        <li id="tables_count" class="stats">
                            <span class="number">#</span>
                            <span class="description">Dispaly</span>
                        </li>
                        <li id="processing_tables_completed" class="stats">
                            <span class="number">#</span>
                            <span class="description">some</span>
                        </li>
                        <li id="processing_tables_count" class="stats">
                            <span class="number">#</span>
                            <span class="description">info</span>
                        </li>
                    </ul>
                    -->
                {% endblock %}

            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    {% with request.resolver_match.url_name as url_name %}
                        <li {% if url_name == 'home' %}class="active"{% endif %}>
                            <a href="{% url 'home' %}">
                                <i class="fas fa-home fa-fw"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li {% if url_name == 'service' %}class="active"{% endif %}>
                            <a href="{% url 'service' %}">
                                <i class="fa fa-terminal fa-fw"></i>
                                <span>Query</span>
                            </a>
                        </li>

                        <li {% if url_name == 'logs' %}class="active"{% endif %}>
                            <a href="{% url 'logs' %}">
                                <i class="fa fa-exclamation-circle fa-fw"></i>
                                <span>Debug logs</span>
                            </a>
                        </li>

                        <li class="header">API</li>

                        <li {% if url_name == 'api' %}class="active"{% endif %}>
                            <a href="/api/">
                                <i class="fa fa-cloud fa-fw"></i>
                                <span>Backend API</span>
                            </a>
                        </li>

                        <li {% if url_name == 'webapi' %}class="active"{% endif %}>
                            <a href="/webapi/">
                                <i class="fab fa-react fa-fw"></i>
                                <span>Frontend API</span>
                            </a>
                        </li>

                        {#   add all menu items here. #}
                        {#   icon from font awesome https://fontawesome.com/icons #}
                        
                    {% endwith %}
                </ul>

            </section>
        </aside>

        <div class="content-wrapper">
            {% block process %}{% endblock %}

            <section class="content">
                {% block content %}{% endblock %}
            </section>
        </div>
    </div>
{% endblock %}
