{% extends "web/base-dashboard.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Dashboard |  {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="container">
        <h2>
            Dashboard
            <canvas id="joke" style="width: 84.8%; height:1em"></canvas>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <form id="import-form-id" enctype="multipart/form-data" method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <input type='hidden' name='form' value='import'> 

                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Import</h3>
                            {% for message in messages %}
                                <span class="pull-right badge badge-primary">
                                    {{ message }}
                                </span>
                            {% endfor %}
                        </div>
                        <div class="box-body">
                            {{ form | crispy }}

                            <div class="box-footer">
                                <div class="btn-wrapper">
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">LAMApi Backends</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive table-wrapper">
                            <table
                                class="table table-bordered sde-table"
                                id="lamapi-table"
                                data-search="false"
                                data-show-refresh="false"
                                data-show-pagination-switch="false"
                                data-pagination="false"
                                data-id-field="id">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title pull-left">
                            Datasets <span class="badge badge-primary">{{loaded_dataset}}</span>
                        </h3>
                        <div class="btn-wrapper pull-right">
                            <a id="export-selected-btn" href="#" class="btn btn-info">
                                Export selected <span class="badge badge-light selected-count"></span>
                            </a>
                        </div>                        
                    </div>
                    <div class="box-body">
                        <div class="table-responsive table-wrapper">
                            <table
                                class="table table-bordered sde-table"
                                id="dataset-table"
                                data-search="false"
                                data-show-refresh="false"
                                data-show-pagination-switch="false"
                                data-pagination="true"
                                data-side-pagination="server"
                                data-id-field="id"
                                data-page-list="[10, 25, 50, 100, all]">
                            </table>
                        </div>

                        <div class="box-footer">
                            <span id="no-lamapi-selected" class="text-muted">Select a LAMApi Backend to process</span>
                            <div class="btn-wrapper">
                                <a id="process-selected-btn" href="#" class="btn btn-warning">
                                    Process selected <span class="badge badge-light selected-count"></span> <span id="last-status-code" class="badge badge-light"></span>
                                </a>
                                <a id="process-btn" href="#" class="btn btn-danger">
                                    Process all <span id="last-status-code-all" class="badge badge-light"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Jobs <span id="jobs-count" class="badge badge-primary"></span></h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive table-wrapper">
                            <table
                                class="table table-bordered sde-table"
                                id="job-table"
                                data-search="false"
                                data-show-refresh="false"
                                data-show-pagination-switch="false"
                                data-pagination="true"
                                data-id-field="id"
                                data-page-list="[10, 25, 50, 100, all]">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tasks</h3>
                    </div>
                    <div class="box-body">
                        <canvas id="celery-stats"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@latest/dist/chartjs-plugin-streaming.min.js"></script>

    <script>

        $(function () {
            var csrftoken = getCookie('csrftoken');
  
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    }
                }
            });
        });
    </script>

    <script>
        $(function() {
            $("#process-selected-btn").attr('disabled', true);
            $("#export-selected-btn").attr('disabled', true);
            let selections = [];
            let lamapi = null;

            $("#no-lamapi-selected").show();
            $("#process-selected-btn").hide();
            $("#process-btn").hide();


            $("#process-btn").click(function() {
                $('#last-status-code').empty();
                $.ajax({
                    url: "{% url 'process' %}",
                    type: 'POST',
                    success: function(result) {
                        $('#last-status-code-all').text(result.status + " (" + result.phrase + ")");
                        $('#job-table').bootstrapTable("refresh");
                    }
                });
            });

            $("#process-selected-btn").click(function() {
                if ($("#process-selected-btn").attr("disabled") === undefined) {
                    $('#last-status-code').empty();
                    $.ajax({
                        url: "{% url 'process' %}",
                        type: 'POST',
                        data: {
                            "ids": selections
                        },
                        success: function(result) {
                            $('#last-status-code').text(result.status + " (" + result.phrase + ")");
                            $('#job-table').bootstrapTable("refresh");
                        }
                    });
                }
            });
            $("#export-selected-btn").click(function() {
                if ($("#export-selected-btn").attr("disabled") === undefined) {
                    console.log("Export selected", selections)
                    datasets = selections.join(",")
                    window.location = "{% url 'export' %}?datasets=" + datasets
                }
            });

            function progressFormatter(value, row, index) {
                let current = value.current;
                let total = value.total;
                let percent = 100 * (current / total);
                return [
                    '<div class="progress">',
                        '<div class="progress-bar progress-bar-green"',
                            'role="progressbar"',
                            'aria-valuenow="' + current  +'"',
                            'aria-valuemin="0"',
                            'aria-valuemax="' + total +'"',
                            'style="width: ' + percent + '%">',
                        '</div>',
                    '</div>'
                ].join('');
            }

            function floatFormatter(value, row, index) {
                return (value).toFixed(1);
            }

            function boolFormatter(value, row, index) {
                if (value) {
                    return '<i class="fa fa-check" aria-hidden="true"></i>'
                } 
                return '<i class="fa fa-times" aria-hidden="true"></i>'
            }

            function prefixFormatter(value, row, index) {
                let html = '';
                for (let key in value) {
                    html += "<span class='badge badge-primary'>" + key + "</span>"
                }
                return html;
            }

            function statusFormatter(value, row, index) {
                if (value == "OFFLINE") {
                    let offline = "<strong class='flashing'>OFFLINE</strong>";
                    setInterval(function () {
                        // NOTE: This is going to make me puke!
                        let flashing = $(".flashing");
                        if (flashing.css("color") != "rgb(255, 255, 255)") {
                            flashing.css('text-shadow', '2px 0 0 #ff2222, -2px 0 0 #ff2222, 0 2px 0 #ff2222, 0 -2px 0 #ff2222, 1px 1px #ff2222, -1px -1px 0 #ff2222, 1px -1px 0 #ff2222, -1px 1px 0 #ff2222');
                            flashing.css('color', 'white');
                        } else {
                            flashing.css('color', "black");
                            flashing.css('text-shadow', "");
                        }
                    }, 1000);

                    //offline.removeClass('red-border');
                    return offline;
                }

                return "<strong>ONLINE</strong>"
            }

            $('#lamapi-table').bootstrapTable({
                url: "{% url 'lamapi' %}",
                locale: "it-IT",
                columns:[
                    [
                        {
                            field: 'state',
                            radio: true,
                            
                            align: 'center',
                            valign: 'middle'
                        },
                        {
                            field: "host",
                            title: "Host",
                        },
                        {
                            field: "port",
                            title: "Port",
                            align: 'center',
                        },
                        {
                            field: "description",
                            title: "Description",
                        },
                        {
                            field: "prefixes",
                            title: "Prefixes",
                            formatter: prefixFormatter
                        },
                        {
                            field: "status",
                            title: "Status",
                            align: 'center',
                            formatter: statusFormatter
                        },
                    ]
                ]
            });

            $('#lamapi-table').on('check.bs.table', function (e, row) {
                if (row.status == "ONLINE") {
                    lamapi = row;
                    $("#no-lamapi-selected").hide();
                    $("#process-selected-btn").show();
                    $("#process-btn").show();
                } else {
                    lamapi = null;
                    $("#no-lamapi-selected").show();
                    $("#process-selected-btn").hide();
                    $("#process-btn").hide();
                }
            });


            $('#job-table').bootstrapTable({
                url: "{% url 'jobs' %}",
                locale: "it-IT",
                onPostBody: function (data) {
                    $('#jobs-count').text(data.length)
                },
                columns:[
                    [
                        {
                            field: "id",
                            title: "#",
                            sortable: true,
                        },
                        {
                            field: "created",
                            title: "Created",
                            sortable: true,
                        },
                        {
                            field: "tables",
                            title: "Tables",
                            align: 'center',
                        },
                        {
                            field: "progress",
                            title: "Progress",
                            align: 'center',
                            formatter: progressFormatter
                        },
                        {
                            field: "callback",
                            title: "Callback",
                        },
                    ]
                ]
            });

            $('#dataset-table').bootstrapTable({
                url: "{% url 'datasets' %}",
                locale: "it-IT",
                onPostBody: function (data) {
                    $('#tables-count').text(data.length)
                },
                columns:[
                    [
                        {
                            field: 'state',
                            checkbox: true,
                            
                            align: 'center',
                            valign: 'middle'
                        },
                        {
                            field: "name",
                            title: "Name",
                            sortable: true,
                        },
                        {
                            field: "table_count",
                            title: "Tables",
                            sortable: true,
                        },
                        {
                            field: "average_rows",
                            title: "Avg. Rows",
                            sortable: true,
                            formatter: floatFormatter
                        },
                        {
                            field: "average_cols",
                            title: "Avg. Cols",
                            sortable: true,
                            formatter: floatFormatter
                        },
                        {
                            field: "has_annotations",
                            title: "Has annotations",
                            align: 'center',
                            formatter: boolFormatter
                        },
                    ]
                ]
            });

            $('#dataset-table').on('check-all.bs.table', function (e, row) {
                selections = $.map(row, function(item) {
                    return item.name;
                });
                if (selections.length > 0) {
                    $("#process-selected-btn").attr('disabled', false);
                    $("#export-selected-btn").attr('disabled', false);
                } else {
                    $("#process-selected-btn").attr('disabled', true);
                    $("#export-selected-btn").attr('disabled', true);
                }
                $(".selected-count").text(selections.length)
            });

            $('#dataset-table').on('uncheck-all.bs.table', function (e, row) {
                selections = [];
                $("#process-selected-btn").attr('disabled', true);
                $("#export-selected-btn").attr('disabled', true);
                $(".selected-count").text(selections.length)
            });

            $('#dataset-table').on('check.bs.table', function (e, row) {
                selections.push(row.name);
                if (selections.length > 0) {
                    $("#process-selected-btn").attr('disabled', false);
                    $("#export-selected-btn").attr('disabled', false);
                } else {
                    $("#process-selected-btn").attr('disabled', true);
                    $("#export-selected-btn").attr('disabled', true);
                }
                $(".selected-count").text(selections.length)
            });

            $('#dataset-table').on('uncheck.bs.table', function (e, row) {
                $.each(selections, function(index, value) {
                    if (value === row.name) {
                        selections.splice(index, 1);
                    }
                });
                if (selections.length > 0) {
                    $("#process-selected-btn").attr('disabled', false);
                    $("#export-selected-btn").attr('disabled', false);
                } else {
                    $("#process-selected-btn").attr('disabled', true);
                    $("#export-selected-btn").attr('disabled', true);
                }
                $(".selected-count").text(selections.length)
            });

            // Celery stats
            var ctx = document.getElementById('celery-stats').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        data: [],
                        label: 'Active',
                        borderColor: 'rgb(255, 99, 132)',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        lineTension: 0,
                    }, {
                        data: [],
                        label: 'Reserved',
                        borderColor: 'rgb(54, 162, 235)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        lineTension: 0,
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'realtime',
                            realtime: {
                                delay: 2000,
                                onRefresh: function(chart) {
                                    $.ajax({
                                        url: "{% url 'celery-stats' %}",
                                        type: 'GET',
                                        success: function(result) {
                                            chart.data.datasets[0].data.push({
                                                x: Date.now(),
                                                y: result["active"]
                                            });
                                            chart.data.datasets[1].data.push({
                                                x: Date.now(),
                                                y: result["reserved"]
                                            });
                                        }
                                    });
                                }
                            }
                        }]
                    }
                }
            });

            (function() {
                function resizeCanvasToDisplaySize(canvas) {
                    const width = canvas.clientWidth;
                    const height = canvas.clientHeight;
                
                    if (canvas.width !== width || canvas.height !== height) {
                        canvas.width = width;
                        canvas.height = height;
                    }
                }

                let canvas = $("#joke")[0];
                let ctx = canvas.getContext('2d');
                resizeCanvasToDisplaySize(canvas);
                let mario = new Image();
                let marioSpeed = 0.085;
                let marioX = -1000 * marioSpeed * 10;
                let marioSprite = 0;
                let marioClickable = true;

                canvas.addEventListener("mousedown", function (e) {
                    if (marioClickable && Math.abs(e.offsetX - marioX) < 20) {
                        marioClickable = false;
                        marioSpeed = 0.0;

                        mario.src = "{% static 'dashboard/images/splat.png' %}";
                        
                        console.log("Die");

                        // Scaring people: check! Who cares right? AHahAHahAH
                        var snd = new Audio("{% static 'dashboard/images/di.data' %}");
                        snd.volume = 0.75;   // Ok not so loud
                        snd.play();          // Enjoy
                        // Good music bytheway
                    }
                }, false);

                mario.onload = function() {
                    start();
                }
                mario.src = "{% static 'dashboard/images/mario.png' %}";

                var then = Date.now();
                function start() {
                    var now = Date.now();
                    var delta = now - then;

                    if (marioClickable) {
                        ctx.clearRect(0, 0, canvas.width, canvas.height);
                        ctx.save();
                            ctx.drawImage(mario, Math.floor(marioSprite) * 17, 0, 17, 24, marioX, 5, 17, 24);
                        ctx.restore();

                        marioX += Math.abs(marioSpeed)*delta;
                        marioSprite = (marioSprite + 0.01*delta) % 2;

                        if (marioX > canvas.width) {
                            marioX = -10000 * marioSpeed * 10;
                        }
                    } else {
                        ctx.clearRect(0, 0, canvas.width, canvas.height);
                        ctx.save();
                            ctx.drawImage(mario, 0, 0, 24, 24, marioX - 12, 5, 24, 24);
                        ctx.restore();
                    }

                    then = now;
                    requestAnimationFrame(start);
                }
            }());
        });

    </script>

    <script>
        $(function() {
            let ws = new WebSocket('ws://' + window.location.hostname + ':5001/main');

            ws.onmessage = function(e) {
                let data = JSON.parse(e.data);
                let command = data["command"];
                let resource = data["resource"];

                if (command == "UPDATE") {
                    if (resource == "progress") {
                        $('#job-table').bootstrapTable("refresh");
                    } else if (resource == "datasets") {
                        $('#dataset-table').bootstrapTable("refresh");
                    }
                }
            };

            ws.onclose = function() {
                console.log("Close connection");
            };
        });
    </script>

{% endblock %}